.course-content ul.topics2 {
    margin: 0;
    list-style: none;
}

.course-content ul.topics2 li.section .content {
    margin: 0 40px;
}

.course-content ul.topics2 li.section .left,
.course-content ul.topics2 li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content ul.topics2 li.section .left {
    text-align: right;
}

.jsenabled .course-content ul.topics2 li.section .left,
.jsenabled .course-content ul.topics2 li.section .right {
    width: auto;
}

.course-content ul.topics2 li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.topics2 li.section .section_action_menu .textmenu,
.course-content ul.topics2 li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

.course-content ul.topics2 .tablink0000 {
    margin-right: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-width: thin;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: lightgrey;
    border-style: solid ;
    cursor: pointer;
}

.course-content ul.topics2 .tablink.active {
    background-color: #eeeeee !important;
}

.course-content ul.topics2 li.section .sectionname {
    padding-top: 10px !important;
}

.course-content ul.topics2 li.section.ontop {
    border-bottom: 0px !important;
}

.course-content ul.topics2 li.section .fa-info {
    padding-left: 5px;
}

.course-content ul.topics2 li.section .edit_only {
    background-color: #FAFAFA;
}

.course-content ul.topics2 li.section .tabs {
    padding-left: 30px;
}

.course-content ul.topics2 li.section .toggler {
    color: grey;
}

.course-content ul.topics2 li.section .dropdown-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}
